<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventi</title>
</head>
<body>
    <h1>Elenco Eventi</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="evento : ${eventi}">
                <td th:text="${evento.id}"></td>
                <td th:text="${evento.nome}"></td>
                <td th:text="${evento.categoria}"></td>
                <td th:text="${evento.data}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>